{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <div class="container mt-5">
    <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                      <h3 class="card-title text-center mb-4 text-primary">Sign Up</h3>
                      <div class="form-group">
                        <label for="email">Email Address</label>
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name="email"
                          placeholder="Enter email"
                        />
                      </div>
                      <div class="form-group">
                        <label for="UserName">Username</label>
                        <input
                          type="text"
                          class="form-control"
                          id="UserName"
                          name="UserName"
                          placeholder="Choose a username for you"
                        />
                      </div>
                      <div class="form-group">
                        <label for="password1">Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="password1"
                          name="password1"
                          placeholder="Enter password"
                        />
                      </div>
                      <div class="form-group">
                        <label for="password2">Password (Confirm)</label>
                        <input
                          type="password"
                          class="form-control"
                          id="password2"
                          name="password2"
                          placeholder="Confirm password"
                        />
                      </div>

                      <div class="form-group">
                        <label for="birthdate">Birthdate</label>
                        <input
                          type="date"
                          class="form-control"
                          id="birthdate"
                          name="birthdate"
                          placeholder="Enter your birthdate"
                          />
                      </div>
                        <div class="form-group">
                        <label for="gender">Gender</label>
                        <input
                          type="text"
                          class="form-control"
                          id="gender"
                          name="gender"
                          placeholder="Enter 'F' for female, 'M' for male "
                        />
                        </div>
                      </div>

                       <button type="submit" class="btn btn-primary btn-block mt-4">Sign up</button>
                  <br/>
                         </div>
                       <br />
                       <br />


                    </div>
                </div>
            </div>



</form>
{% endblock %}