{% extends "login.html" %} {% block title %}Home{% endblock %} {% block content
%}

<style>
  .card {
    margin: 50px;
  }
</style>
              <br>
              <form method="POST">


                  <a type="button" class="btn btn-primary btn-lg btn-block" id = "4" href="/4">
                      Click here to search about close lines to you, or view the full list of lines below.
                  </a>

              </form>
{%for item in sched%}
<div class="card">
  <h5 class="card-header">{{item.title}}</h5>
  <div class="card-body">
    <h5 class="card-title">
      Leave Time: {{item.startTime}} <br />
      Arrival Time: {{item.endTime}}
    </h5>
    <p class="card-text">Seats Left: {{item.seatsLeft}}</p>
    <p class="card-text">Price: {{item.price}} L.E</p>

    <form method="POST" >
        <input type="hidden" name="search1" id= "search1" value= "line">
      <input type="hidden" name="price" id= "price" value= "{{ item.price }} ">
      <button type="submit" class="btn btn-primary">Reserve</button>
    </form>
  </div>
</div>
{% endfor %} {% endblock %}